span.spoiler {       
    background-color:black;                                                                    
}
 

span.spoiler:hover {
        color: white;
}                               
                        

.hymmnos {           
    font-family: hymmnos;                                                                      
}

